<div class="form-group" style="">
	<label>Customer</label>
	<br>
	<p>
		<span class="customer_name">Emmanuel MARICHAL</span>
		<img class="img_sex" src="http://addons.prestashop.com/img/admin/unknown.gif"> <br>
		<a class="customer_email" href="mailto:scritik@gmail.com">scritik@gmail.com</a>
	</p>
	<p>
		<span class="customer_data">ID: 020744</span><br>
		<span class="customer_data">Registration date: 07/06/2010 14:55:02</span><br>
		<span class="customer_data">Last visit: never</span><br>
		<span class="customer_data">Phone: 0642918664</span><br>
		<span class="customer_data">Company: Emmanuel MARICHAL</span><br>
		<span class="customer_data">Country: France</span><br>
		<span class="customer_data">Lang: fr</span><br>
	</p>
</div>